<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="popcorn.jpg"/>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" <%= link_to "New list", new_list_path(@list) %></a>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="list_title">
<h2>My lists</h2>
  <div class="cards">
      <% @lists.each do |list| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key, height: 300, crop: :fill) : asset_path('cinema.jpg') %>')">
          <span><%= link_to list.name, list_path(list) %></span>
          <span class="button_delete">
          <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-regular fa-circle-xmark"></i>
          <% end %>
          </span>
          </div>
      <% end %>
  </div>
</div>
